<html>
    <body>
        <div id="app" >
            <ol>
                <li v-for="elemento in lista" v-if="elemento %2 == 0">
                    <div >

                        {{ elemento }}
                    </div>
                </li>
            </ol>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            var app = new Vue({
              el: '#app',
              data: {
                lista: [
                    1,2,3,4,5
                ]
              }
            });
        </script>
    </body>
</html>